@charset "UTF-8";
@font-face {
  font-family: 'Noto Serif';
  font-weight: 400;
  src: url("../fonts/NotoSerifKR-Regular.eot");
  src: url("../fonts/NotoSerifKR-Regular.woff") format("woff"), url("../fonts/NotoSerifKR-Regular.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 100;
  src: url("../fonts/NotoSansCJKkr-Thin.eot");
  src: url("../fonts/NotoSansCJKkr-Thin.woff") format("woff"), url("../fonts/NotoSansCJKkr-Thin.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 200;
  src: url("../fonts/NotoSansCJKkr-Light.eot");
  src: url("../fonts/NotoSansCJKkr-Light.woff") format("woff"), url("../fonts/NotoSansCJKkr-Light.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 300;
  src: url("../fonts/NotoSansCJKkr-DemiLight.eot");
  src: url("../fonts/NotoSansCJKkr-DemiLight.woff") format("woff"), url("../fonts/NotoSansCJKkr-DemiLight.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 400;
  src: url("../fonts/NotoSansCJKkr-Regular.eot");
  src: url("../fonts/NotoSansCJKkr-Regular.woff") format("woff"), url("../fonts/NotoSansCJKkr-Regular.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 500;
  src: url("../fonts/NotoSansCJKkr-Medium.eot");
  src: url("../fonts/NotoSansCJKkr-Medium.woff") format("woff"), url("../fonts/NotoSansCJKkr-Medium.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 600;
  src: url("../fonts/NotoSansCJKkr-Bold.eot");
  src: url("../fonts/NotoSansCJKkr-Bold.woff") format("woff"), url("../fonts/NotoSansCJKkr-Bold.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 700;
  src: url("../fonts/NotoSansCJKkr-Black.eot");
  src: url("../fonts/NotoSansCJKkr-Black.woff") format("woff"), url("../fonts/NotoSansCJKkr-Black.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Serif CJK KR';
  font-weight: 500;
  src: url("../fonts/NotoSerifKR-Regular.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Serif CJK KR';
  font-weight: 500;
  src: url("../fonts/NotoSerifKR-Medium.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Serif CJK KR';
  font-weight: 600;
  src: url("../fonts/NotoSerifKR-Bold.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Serif CJK KR';
  font-weight: 700;
  src: url("../fonts/NotoSerifKR-Black.otf") format("truetype");
}

.joins_gnb {
  height: 32px;
}

h2, h3, h4, h5 {
  font-weight: 600;
  word-break: keep-all;
}

strong {
  font-weight: 600;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

video {
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: 'Noto Sans CJK KR', sans-serif;
  line-height: 1.4;
  letter-spacing: -0.075em;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

#container {
  min-width: 1200px;
}

h2 {
  font-size: 50px;
  letter-spacing: -1px;
  line-height: 1.2;
  color: #1d1d1d;
}

h2 span {
  font-weight: 300;
}

h2 + p {
  font-size: 19px;
  line-height: 1.6;
}

section {
  position: relative;
  background-color: #fff;
  z-index: 1;
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
}

button {
  padding: 0;
  border: 0 none;
  cursor: pointer;
}

p {
  word-break: keep-all;
}

i {
  font-style: normal;
}

.hide {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  font: 0/0 Sans-serif;
  visibility: hidden;
}

:focus {
  outline: none;
}

#container {
  padding-top: 78px;
}

/* 하단 카피라이트 관련 클레스 영역 */
.copyright {
  position: relative;
  width: 100%;
  padding: 70px 0;
  background: #efefef;
  text-align: center;
  font-size: 13px;
  font-weight: 200;
  z-index: 1;
}

.copyright .wrap {
  width: 1100px;
  margin: 0 auto;
}

.copyright:after {
  clear: both;
  content: '';
  display: table;
}

.copyright .copy_left {
  width: 52%;
  text-align: left;
  float: left;
}

.copyright .copy_right {
  width: 350px;
  text-align: left;
  float: right;
}

.copyright .copy_right p.p-text {
  font-weight: 400;
  color: #818181;
  letter-spacing: .5px;
  font-size: 14px;
  font-family: 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.copyright .copy_right p.p_colnom {
  line-height: 22px;
}

.copyright .copy_right p .footer_mail {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  color: #818181;
  text-decoration: none;
  font-family: 'noto-sans-scott', 'Malgun Gothic', sans-serif;
}

.copyright .copy_right p .footer_mail i {
  width: 18px;
  height: 12px;
  background: url(/ilab/img/sprite.png?v=2) no-repeat -150px 0;
  background-size: 200px;
  position: relative;
  display: inline-block;
  margin-right: 2px;
  vertical-align: baseline;
  opacity: 0.5;
}

.copyright .copy_right p .footer_tel {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  color: #818181;
  text-decoration: none;
  font-family: 'noto-sans-scott', 'Malgun Gothic', sans-serif;
}

.copyright .copy_right p .footer_tel i {
  top: 2px;
  width: 16px;
  height: 16px;
  background: url(/ilab/img/sprite.png?v=2) no-repeat -170px 0;
  background-size: 200px;
  position: relative;
  display: inline-block;
  margin-right: 0px;
  vertical-align: baseline;
  margin-left: 10px;
  opacity: .5;
}

.copyright p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  color: #666;
}

.copyright p.p-text {
  font-weight: 400;
  letter-spacing: 1px;
}

.copyright p .bold {
  font-weight: 600;
}

.copyright p + p {
  margin-top: 10px;
}

/* 하단 카피라이트 관련 클레스 영역 끝 */
.rooftop {
  opacity: 1;
}

#container {
  overflow: hidden;
}

.intro-news {
  position: relative;
  width: 100%;
  height: 1640px;
  min-height: calc(100vh - 45px);
  background: #000;
}

.intro-news__paper {
  position: absolute;
  height: calc(1640px + 15vh);
  -webkit-transform-origin: center;
          transform-origin: center;
  top: -535px;
  width: 1300px;
  left: 50%;
  margin-left: -650px;
  background: #fff;
}

.intro-news__paper--panel {
  position: absolute;
  width: 1100px;
  top: 0;
  left: 50%;
  margin: 0 0 0 -550px;
  outline: 1px solid #ddd;
  height: 100%;
}

.intro-news__paper--headline-ad {
  text-indent: -99999px;
  display: block;
  background: url("../img/intro_headline_1.png") no-repeat;
  width: 315px;
  height: 51px;
  margin: 120px auto 0 auto;
}

.intro-news__paper--headline-dd {
  text-indent: -99999px;
  display: block;
  background: url("../img/intro_headline_2.png") no-repeat;
  width: 50px;
  height: 300px;
  position: absolute;
  right: 25px;
  top: 570px;
}

.intro-news__paper--headline-title {
  margin-top: 160px;
}

.intro-news__paper--headline-title-default {
  text-indent: -99999px;
  display: block;
  background: url("../img/intro_news_title_1.png") no-repeat;
  width: 738px;
  height: 74px;
  margin: 0 auto;
}

.intro-news__paper--headline-title-strong {
  text-indent: -99999px;
  display: block;
  background: url("../img/intro_news_title_2.png") no-repeat;
  width: 738px;
  height: 122px;
  margin: 40px auto 0 auto;
}

.intro-news__paper--headline-sub-title {
  text-indent: -99999px;
  display: block;
  background: url("../img/intro_news_title_3.png") no-repeat;
  width: 812px;
  height: 72px;
  margin: 330px auto 60px auto;
}

.intro-news__paper--content {
  width: 1080px;
  margin: 0 auto;
  border-bottom: 2px solid #000;
  padding: 50px 0;
}

.intro-news__paper--content-list {
  height: 420px;
  width: 100%;
}

.intro-news__paper--content-list-item {
  text-align: justify;
  float: left;
  width: 315px;
  height: 420px;
  margin: 0 20px;
  font-size: 20px;
  line-height: 37px;
  letter-spacing: -0.05em;
  font-family: 'Noto Serif CJK KR', sans-serif;
  font-weight: 400;
}

.intro-news__paper--content-list-item:after {
  clear: both;
  display: table;
  content: '';
}

.intro-news__paper--annexed {
  opacity: 0;
  padding: 25px 30px;
  font-size: 13px;
  line-height: normal;
  letter-spacing: -0.05em;
  font-family: 'Noto Serif CJK KR', sans-serif;
  font-weight: 400;
}

.alzheimer {
  width: 100%;
  height: 1240px;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.alzheimer__panel {
  position: absolute;
  width: 1200px;
  top: 0;
  left: 50%;
  margin: 0 0 0 -600px;
  outline: 1px solid #ddd;
}

.alzheimer__headline {
  width: 1100px;
  height: 510px;
  margin: 0 auto;
  border-top: 1px solid #000;
  padding-top: 60px;
  margin-top: 60px;
}

.alzheimer__headline--title {
  text-indent: -99999px;
  display: block;
  background: url("../img/alzheimer-title.png") no-repeat;
  width: 411px;
  height: 143px;
  margin-top: 10px;
  float: left;
}

.alzheimer__headline--title:after {
  clear: both;
  display: table;
  content: '';
}

.alzheimer__headline--info {
  float: right;
  text-align: justify;
  width: 500px;
  margin-right: 40px;
  font-size: 21px;
  line-height: 37px;
  letter-spacing: -0.06em;
  font-family: 'Noto Serif CJK KR', sans-serif;
  font-weight: 400;
}

.alzheimer__headline--info:after {
  clear: both;
  display: table;
  content: '';
}

.alzheimer__card {
  width: 100%;
  height: 630px;
}

.alzheimer__card--item {
  width: 100%;
  height: 100%;
}

.alzheimer__card--item-news {
  opacity: 0;
  outline: 1px solid #ddd;
  float: left;
  width: 224px;
  height: 100%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.alzheimer__card--item-news .explain {
  color: #000;
  font-family: 'Noto Serif CJK KR', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.06em;
  display: block;
  width: 100%;
  margin: 20px 30px;
}

.alzheimer__card--item-news.one .contents {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
  outline: 1px solid #ddd;
}

.alzheimer__card--item-news.one .contents .numberring {
  background: url("../img/alzheimer__card-one-num.png") no-repeat;
  background-size: 100% 100%;
  width: 485px;
  height: 199px;
  text-indent: -99999px;
  position: absolute;
  top: 145px;
  left: 30px;
  z-index: 1;
}

.alzheimer__card--item-news.one .contents .graph {
  background: url("../img/alzheimer__card-one-content.png") no-repeat;
  background-size: 100% 100%;
  width: 464px;
  height: 248px;
  top: 355px;
  left: 20px;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.alzheimer__card--item-news.two .contents {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
  outline: 1px solid #ddd;
}

.alzheimer__card--item-news.two .contents .numberring {
  background: url("../img/alzheimer__card-two-num.png") no-repeat;
  background-size: 100% 100%;
  width: 365px;
  height: 197px;
  text-indent: -99999px;
  position: absolute;
  top: 145px;
  left: 30px;
  z-index: 1;
}

.alzheimer__card--item-news.two .contents .graph {
  background: url("../img/alzheimer__card-two-content.png") no-repeat;
  background-size: 100% 100%;
  width: 401px;
  height: 317px;
  top: 270px;
  left: 80px;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.alzheimer__card--item-news.three .contents {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
  outline: 1px solid #ddd;
}

.alzheimer__card--item-news.three .contents .numberring {
  background: url("../img/alzheimer__card-three-num.png") no-repeat;
  background-size: 100% 100%;
  width: 240px;
  height: 196px;
  text-indent: -99999px;
  position: absolute;
  top: 145px;
  left: 30px;
  z-index: 1;
}

.alzheimer__card--item-news.three .contents .graph {
  background: url("../img/alzheimer__card-three-content.png") no-repeat;
  background-size: 100% 100%;
  width: 401px;
  height: 319px;
  top: 270px;
  left: 75px;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.alzheimer__card--item-news.four .contents {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
  outline: 1px solid #ddd;
}

.alzheimer__card--item-news.four .contents .numberring {
  background: url("../img/alzheimer__card-four-num.png") no-repeat;
  background-size: 100% 100%;
  width: 390px;
  height: 262px;
  text-indent: -99999px;
  position: absolute;
  top: 145px;
  left: 30px;
  z-index: 1;
  top: 90px;
  left: 50px;
  z-index: 0;
}

.alzheimer__card--item-news.four .contents .numberring:nth-of-type(2) {
  background: url("../img/alzheimer__card-four-num2.png") no-repeat;
  background-size: 100% 100%;
  width: 421px;
  height: 251px;
  top: 335px;
  left: 20px;
  opacity: 1;
}

.alzheimer__card--item-news.four .contents .numberring:nth-of-type(2).on {
  background: url("../img/alzheimer__card-four-num3.png") no-repeat;
  background-size: 100% 100%;
  width: 427px;
  height: 257px;
}

.alzheimer__card--item-news.four .contents .graph {
  background: url("../img/alzheimer__card-four-content.png") no-repeat;
  background-size: 100% 100%;
  width: 382px;
  height: 202px;
  top: 110px;
  left: 85px;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.alzheimer__card--item-news .numberring {
  opacity: 0.2;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.alzheimer__card--item-news.active {
  width: 525px;
}

.alzheimer__card--item-news.active .numberring {
  opacity: 1;
}

.alzheimer__card--item-news.active .contents .graph {
  opacity: 1;
}

.alzheimer__card--item-news:after {
  clear: both;
  display: table;
  content: '';
}

.alzheimer-hope {
  width: 100%;
  height: 1135px;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.alzheimer-hope__panel {
  position: absolute;
  width: 1200px;
  top: 0;
  left: 50%;
  margin: 0 0 0 -600px;
  outline: 1px solid #ddd;
  height: 100%;
}

.alzheimer-hope__comment {
  margin-left: 50px;
  margin-top: 110px;
  float: left;
}

.alzheimer-hope__comment-text {
  opacity: 0;
  text-indent: -99999px;
  display: block;
  background: url("../img/alzheimer-hope__comment.png") no-repeat;
  width: 400px;
  height: 1000px;
}

.alzheimer-hope__comment:after {
  clear: both;
  display: table;
  content: '';
}

.alzheimer-hope__text {
  width: 575px;
  margin-right: 50px;
  float: right;
}

.alzheimer-hope__text-title {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  margin-top: 125px;
  text-indent: -99999px;
  display: block;
  background: url("../img/alzheimer-hope__title.png") no-repeat;
  width: 503px;
  height: 176px;
}

.alzheimer-hope__text-explain {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  width: 400px;
  margin-left: 170px;
  margin-top: 55px;
  font-family: 'Noto Serif CJK KR', sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 37px;
  letter-spacing: -0.02em;
}

.alzheimer-hope__text:after {
  clear: both;
  display: table;
  content: '';
}

.alzheimer-hope__person {
  position: absolute;
  bottom: 0px;
  height: 580px;
  overflow: hidden;
  width: 150%;
  left: 50%;
  margin-left: -420px;
  border-bottom: 2px solid #000;
  opacity: 0;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.alzheimer-hope__person--img {
  background: url("../img/alzheimer-hope-person.png") no-repeat;
  width: 508px;
  height: 651px;
  display: inline-block;
  position: absolute;
  bottom: -100px;
  left: 100px;
}

.alzheimer-hope__person--annexed {
  position: absolute;
  bottom: 0;
  width: 310px;
  border-top: 1px solid #000;
  text-align: center;
  padding-top: 2px;
  height: 60px;
  left: 575px;
}

.alzheimer-hope__person--annexed-text {
  font-family: 'Noto Serif CJK KR', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 37px;
  letter-spacing: -0.02em;
}

.conversion {
  width: 100%;
  height: 1940px;
  position: relative;
  overflow: hidden;
}

.conversion__panel {
  position: absolute;
  width: 1200px;
  top: 0;
  left: 50%;
  margin: 0 0 0 -600px;
  outline: 1px solid #ddd;
  height: 100%;
}

.conversion__panel--flip {
  width: 265px;
  height: 265px;
  position: absolute;
  right: 0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #000;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  bottom: -2px;
  right: -2px;
}

.conversion__panel--flip-line {
  width: 150%;
  border-bottom: 1px solid #fff;
  position: absolute;
  background: #0400b8;
  height: 100%;
  -webkit-transform: rotate(-45deg) translateY(-67.8%) translateX(-10%);
          transform: rotate(-45deg) translateY(-67.8%) translateX(-10%);
}

.conversion__block {
  width: 100%;
  height: 100%;
}

.conversion__block--before {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  float: left;
  left: -50%;
}

.conversion__block--before:after {
  clear: both;
  display: table;
  content: '';
}

.conversion__block--after {
  position: absolute;
  background: #0400b8;
  width: 100%;
  height: 100%;
  float: right;
  left: 50%;
}

.conversion__block--after:after {
  clear: both;
  display: table;
  content: '';
}

.conversion__content--before {
  width: 50%;
  height: 100%;
  float: left;
}

.conversion__content--before-title {
  text-indent: -99999px;
  display: block;
  background: url("../img/conversion_2.png") no-repeat;
  width: 400px;
  height: 347px;
  margin-top: 150px;
  margin-left: 135px;
  opacity: 0;
}

.conversion__content--before-graph {
  text-indent: -99999px;
  display: block;
  background: url("../img/conversion_before_graph.png") no-repeat;
  width: 317px;
  height: 272px;
  margin-top: 115px;
  margin-left: 215px;
  opacity: 0;
}

.conversion__content--before-detail {
  color: #0600ff;
  font-size: 21px;
  line-height: 36px;
  letter-spacing: -0.08em;
  font-family: 'Noto Serif CJK KR', sans-serif;
  font-weight: 400;
  width: 420px;
  text-align: justify;
  position: absolute;
  top: 1045px;
  left: 120px;
}

.conversion__content--before:after {
  clear: both;
  display: table;
  content: '';
}

.conversion__content--after {
  width: 50%;
  height: 100%;
  float: right;
}

.conversion__content--after .drag__cover {
  position: absolute;
  width: 380px;
  height: 100%;
  left: 50%;
  margin-left: -380px;
  background: #0400b8;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.conversion__content--after .drag__cover--btn {
  text-indent: -99999px;
  display: block;
  background: url("../img/drag__cover--btn.png") no-repeat;
  width: 157px;
  height: 106px;
  position: absolute;
  top: 715px;
  left: 25px;
}

.conversion__content--after-title {
  text-indent: -99999px;
  display: block;
  background: url("../img/conversion_1.png") no-repeat;
  width: 400px;
  height: 347px;
  margin-top: 150px;
  margin-left: 60px;
  opacity: 0;
}

.conversion__content--after-graph {
  text-indent: -99999px;
  display: block;
  background: url("../img/conversion_after_graph.png") no-repeat;
  width: 440px;
  height: 404px;
  margin-top: 70px;
  margin-left: 60px;
  opacity: 0;
}

.conversion__content--after-detail {
  color: #fff;
  font-size: 21px;
  line-height: 36px;
  letter-spacing: -0.08em;
  font-family: 'Noto Serif CJK KR', sans-serif;
  font-weight: 400;
  width: 420px;
  text-align: justify;
  position: absolute;
  top: 1045px;
  right: 110px;
}

.conversion__content--after:after {
  clear: both;
  display: table;
  content: '';
}

.drug-spec {
  width: 100%;
  height: 880px;
  position: relative;
  background: #000;
}

.drug-spec__background {
  background: url("../img/drug-spec-background.png") no-repeat;
  position: absolute;
  width: 958px;
  height: 865px;
  right: -100px;
  top: -50px;
}

.drug-spec__panel {
  position: absolute;
  width: 1200px;
  top: 0;
  left: 50%;
  margin: 0 0 0 -600px;
  outline: 1px solid #ddd;
  height: 100%;
}

.drug-spec__panel--title {
  text-indent: -99999px;
  display: block;
  background: url("../img/drug-spec-title.png") no-repeat;
  width: 698px;
  height: 166px;
  margin-top: 130px;
  margin-left: 50px;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.drug-spec__panel--cover {
  opacity: 0;
}

.drug-spec__panel--inner {
  height: 580px;
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #fff;
}

.drug-spec__panel--inner .explain-text {
  text-align: justify;
  width: 400px;
  font-size: 21px;
  line-height: 36px;
  letter-spacing: -0.08em;
  font-family: 'Noto Serif CJK KR', sans-serif;
  font-weight: 400;
}

.drug-spec__panel--inner .explain-text span {
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;
  display: inline-block;
  position: relative;
}

.drug-spec__panel--inner .explain-text span i {
  background: #ff00ff;
  display: inline-block;
  width: 100%;
  height: 26px;
  z-index: -1;
  top: 8px;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.drug-spec__panel--inner .explain-text span.active i {
  opacity: 1;
}

.drug-spec__panel--inner .step_1, .drug-spec__panel--inner .step_2, .drug-spec__panel--inner .step_3 {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.drug-spec__panel--inner .step_1.active, .drug-spec__panel--inner .step_2.active, .drug-spec__panel--inner .step_3.active {
  opacity: 1;
}

.drug-spec__panel--inner .step_1 .explain-text {
  margin-top: 110px;
  margin-left: 60px;
}

.drug-spec__panel--inner .step_2 .explain-text {
  width: 440px;
  margin-top: 115px;
  margin-left: 60px;
}

.drug-spec__panel--inner .step_2 .chart-1 {
  position: absolute;
  top: -360px;
  right: 125px;
  background: url("../img/drug-step1__chart-1.png") no-repeat;
  width: 397px;
  height: 433px;
}

.drug-spec__panel--inner .step_2 .chart-2 {
  position: absolute;
  top: -360px;
  right: 125px;
  background: url("../img/drug-step1__chart-2.png") no-repeat;
  width: 397px;
  height: 433px;
}

.drug-spec__panel--inner .step_2 .chart-3 {
  position: absolute;
  top: -360px;
  right: 125px;
  background: url("../img/drug-step1__chart-3.png") no-repeat;
  width: 397px;
  height: 433px;
}

.drug-spec__panel--inner .step_3 .explain-text {
  width: 440px;
  margin-top: 115px;
  margin-left: 60px;
}

.drug-spec__panel--inner .step_3 .chart-1 {
  position: absolute;
  top: -360px;
  right: 125px;
  background: url("../img/drug-step2__chart-1.png") no-repeat;
  width: 517px;
  height: 413px;
}

.drug-spec__panel--inner .step_3 .chart-2 {
  position: absolute;
  top: -360px;
  right: 125px;
  background: url("../img/drug-step2__chart-2.png") no-repeat;
  width: 517px;
  height: 413px;
}

.drug-spec__panel .buttonArea {
  position: absolute;
  bottom: 100px;
  width: 100%;
  z-index: 3;
  left: 75px;
  top: 415px;
}

.drug-spec__panel .buttonArea .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin-right: 35px;
  background: #ff00ff;
  opacity: 1;
  position: absolute;
}

.drug-spec__panel .buttonArea .swiper-pagination-bullet:nth-of-type(2) {
  left: 58px;
}

.drug-spec__panel .buttonArea .swiper-pagination-bullet:nth-of-type(3) {
  left: 115px;
}

.drug-spec__panel .buttonArea .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  content: '';
  display: inline-block;
  border: 1px solid #ff00ff;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  pointer-events: none;
  position: relative;
  margin-top: -20px;
  margin-left: -20px;
}

.meterial {
  width: 100%;
  height: 1580px;
  overflow: hidden;
  position: relative;
  outline: 1px solid red;
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(30%), color-stop(#1e00ff), to(transparent));
  background: linear-gradient(black, 30%, #1e00ff, transparent);
}

.meterial__panel {
  position: absolute;
  width: 1200px;
  top: 0;
  left: 50%;
  margin: 0 0 0 -600px;
  outline: 1px solid #ddd;
  height: 100%;
}

.meterial__panel--title {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  margin: 200px auto;
  text-indent: -99999px;
  display: block;
  background: url("../img/meterial-title.png") no-repeat;
  width: 761px;
  height: 172px;
}

.meterial__panel--inner-list-item {
  width: 385px;
  height: 385px;
  float: left;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff3f53), to(#ff3f9a));
  background: linear-gradient(#ff3f53, #ff3f9a);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.meterial__panel--inner-list-item p {
  color: #1e00ff;
  font-size: 30px;
  line-height: 43px;
  letter-spacing: -0.08em;
  font-family: 'Noto Serif CJK KR', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 155px;
  width: 100%;
  position: absolute;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.meterial__panel--inner-list-item .on, .meterial__panel--inner-list-item .inner-content {
  opacity: 0;
}

.meterial__panel--inner-list-item .inner-content {
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  z-index: 1;
  position: absolute;
  width: 420px;
  height: 447px;
  pointer-events: none;
}

.meterial__panel--inner-list-item .inner-content.left {
  background: url("../img/inner-content-left.jpg") no-repeat;
  top: 268px;
  left: 71px;
}

.meterial__panel--inner-list-item .inner-content.right {
  background: url("../img/inner-content-right.jpg") no-repeat;
  top: 253px;
  left: -91px;
}

.meterial__panel--inner-list-item .inner-content p {
  color: #1e00ff;
  font-size: 21px;
  line-height: 36px;
  letter-spacing: -0.08em;
  font-family: 'Noto Serif CJK KR', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 40px 30px;
  text-align: left;
  mix-blend-mode: darken;
}

.meterial__panel--inner-list-item.active {
  background: #e13f00;
}

.meterial__panel--inner-list-item.active .before {
  opacity: 0;
}

.meterial__panel--inner-list-item.active .on {
  opacity: 1;
  color: #fff;
}

.meterial__panel--inner-list-item.active .inner-content {
  opacity: 1;
}

.meterial__panel--inner-list-item:nth-of-type(2) {
  margin: 0 12px;
}

.meterial__panel--inner-list-item:after {
  clear: both;
  display: table;
  content: '';
}

.meterial__panel--inner-detail {
  color: #fff;
  position: absolute;
  top: 1020px;
}

.meterial__panel--inner-detail-text {
  text-align: center;
  font-size: 30px;
  line-height: 55px;
  letter-spacing: -0.08em;
  font-family: 'Noto Serif CJK KR', sans-serif;
  font-weight: 400;
}

.meterial__panel--inner-detail-hide {
  font-size: 30px;
  line-height: 55px;
  letter-spacing: -0.08em;
  font-family: 'Noto Serif CJK KR', sans-serif;
  font-weight: 600;
  padding: 2px 20px;
  background: #000;
}

.gv-1001 {
  width: 100%;
  height: 1420px;
  z-index: 0;
  position: relative;
  outline: 1px solid red;
  background: #000;
}

.gv-1001__bg {
  background: url("../img/gv1001-bg.png") no-repeat;
  background-position: center;
  position: absolute;
  top: -550px;
  background-size: 100% 100%;
  width: 1600px;
  height: 1170px;
  left: 50%;
  margin-left: -800px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.gv-1001__panel {
  position: absolute;
  width: 1200px;
  top: 0;
  left: 50%;
  margin: 0 0 0 -600px;
  outline: 1px solid #ddd;
  height: 100%;
}

.gv-1001__panel--title {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  margin-left: 50px;
  margin-top: 500px;
  text-indent: -99999px;
  display: block;
  background: url("../img/gv1001-title.png") no-repeat;
  width: 389px;
  height: 267px;
}

.gv-1001__panel--content {
  color: #fff;
}

.gv-1001__panel--content-comment {
  position: absolute;
  top: 870px;
  left: 80px;
}

.gv-1001__panel--content-comment .quotation-left {
  background: url("../img/quotation-left.png") no-repeat;
  width: 61px;
  height: 42px;
  position: absolute;
  top: 45px;
  left: -45px;
  z-index: -1;
  opacity: 0;
}

.gv-1001__panel--content-comment .quotation-right {
  background: url("../img/quotation-right.png") no-repeat;
  width: 61px;
  height: 42px;
  position: absolute;
  top: 210px;
  left: 270px;
  opacity: 0;
}

.gv-1001__panel--content-text {
  opacity: 0;
  font-family: 'Noto Serif CJK KR', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: -0.08em;
  z-index: 1;
  position: relative;
}

.gv-1001__panel--content-image {
  background: url("../img/gv-1001-content-image.jpg") no-repeat;
  width: 392px;
  height: 220px;
  position: absolute;
  left: 50%;
  top: 955px;
  margin-left: -245px;
  opacity: 0;
}

.gv-1001__panel--content-detail {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  position: absolute;
  right: 50px;
  width: 500px;
  text-align: justify;
  margin-top: 40px;
}

.gv-1001__panel--content-detail-text {
  color: #fff;
  font-family: 'Noto Serif CJK KR', sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  letter-spacing: -0.08em;
}

.gv-1001__panel--content .underline {
  border-bottom: 1px solid #fff;
  padding-bottom: 6px;
}

.meterial-hope {
  width: 100%;
  height: 1000px;
  position: relative;
  outline: 1px solid red;
  background: #000;
  z-index: auto;
}

.meterial-hope__panel {
  position: absolute;
  width: 1200px;
  top: 0;
  left: 50%;
  margin: 0 0 0 -600px;
  outline: 1px solid #ddd;
  height: 100%;
  z-index: 10;
}

.meterial-hope__panel--title {
  text-indent: -99999px;
  display: block;
  background: url("../img/meterial-hope-title.png") no-repeat;
  width: 377px;
  height: 256px;
  margin: 95px 0px 95px 50px;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.meterial-hope__panel .table__background {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 235px;
}

.meterial-hope__panel .table__background li {
  height: 50px;
  width: 150vw;
  margin: 15px 0;
  background: #0c0066;
}

.meterial-hope__panel--table {
  opacity: 0;
  position: absolute;
  right: 50px;
  top: 200px;
}

.meterial-hope__panel--table-cell {
  width: 835px;
  text-align: center;
  color: #fff;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  font-size: 19px;
  line-height: 36px;
  letter-spacing: -0.02em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
}

.meterial-hope__panel--table-cell .table-group-1 {
  width: 128px;
}

.meterial-hope__panel--table-cell .table-group-2 {
  width: 166px;
}

.meterial-hope__panel--table-cell .table-group-3 {
  width: 310px;
}

.meterial-hope__panel--table-cell .table-group-4 {
  width: 85px;
}

.meterial-hope__panel--table-cell .table-group-5 {
  width: 110px;
}

.meterial-hope__panel--table-cell th {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
  padding: 1px 0;
}

.meterial-hope__panel--table-cell tr {
  border-bottom: 1px solid #fff;
}

.meterial-hope__panel--table-cell td {
  padding: 14px 0;
}

.meterial-hope__panel--table-cell td.line {
  position: relative;
}

.meterial-hope__panel--table-cell td.line .block {
  display: block;
  position: absolute;
  width: 170px;
  top: 5px;
}

.meterial-hope__panel--table-cell td.line .block span {
  font-size: 14px;
  display: block;
  position: absolute;
  top: 20px;
  left: 30px;
}

.meterial-hope__panel--explain {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  position: absolute;
  right: 50px;
  margin-top: 20px;
}

.meterial-hope__panel--text {
  color: #fff;
  width: 500px;
  text-align: justify;
  font-family: 'Noto Serif CJK KR', sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  letter-spacing: -0.08em;
}

.outro {
  width: 100%;
  height: 2370px;
  position: relative;
  outline: 1px solid red;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(#0600ff), color-stop(50%), to(#000));
  background: linear-gradient(#000, #0600ff, 50%, #000);
}

.outro__bg {
  background: url("../img/outro-bg.png") no-repeat;
  background-position: center;
  position: absolute;
  background-size: 100% 100%;
  top: -350px;
  left: 50%;
  width: 2166px;
  height: 1268px;
  margin-left: -1083px;
}

.outro__panel {
  position: absolute;
  width: 1200px;
  top: 0;
  left: 50%;
  margin: 0 0 0 -600px;
  outline: 1px solid #ddd;
  height: 100%;
}

.outro__panel--title {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  text-indent: -99999px;
  display: block;
  background: url("../img/outro-title.png") no-repeat;
  width: 669px;
  height: 194px;
  margin: 860px auto 85px auto;
}

.outro__panel--content {
  color: #fff;
}

.outro__panel--content-text {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  font-size: 21px;
  line-height: 36px;
  letter-spacing: -0.08em;
  font-family: 'Noto Serif CJK KR', sans-serif;
  font-weight: 400;
  text-align: center;
}

.outro__panel--content-strong {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.08em;
  font-family: 'Noto Serif CJK KR', sans-serif;
  font-weight: 600;
  text-align: center;
  display: block;
  margin-top: 35px;
}

.outro__panel--content-comment {
  opacity: 0;
  position: relative;
  text-align: center;
  display: block;
  font-size: 35px;
  line-height: 55px;
  letter-spacing: -0.08em;
  font-family: 'Noto Serif CJK KR', sans-serif;
  font-weight: 400;
}

.outro__panel--content-comment .underline {
  font-size: 26px;
  line-height: 54px;
  letter-spacing: -0.08em;
  border-bottom: 1px solid #fff;
  padding-bottom: 6px;
}

.outro__panel--content-person {
  opacity: 0;
  background: url("../img/jorgen-winroth.png") no-repeat;
  width: 233px;
  height: 199px;
  margin: 0 auto;
  margin: 140px auto 35px auto;
}

.outro__panel--content .quotation-left {
  position: absolute;
  top: -60px;
  left: 150px;
  width: 74px;
  height: 49px;
  background: url("../img/quotation-left-white.png") no-repeat;
}

.outro__panel--content .quotation-right {
  position: absolute;
  bottom: -50px;
  right: 130px;
  width: 74px;
  height: 49px;
  background: url("../img/quotation-right-white.png") no-repeat;
}

.rooftop {
  height: 45px;
  background: #222222;
}

#container {
  padding-top: 45px;
}

.brandsolution-logo a {
  display: inline-block;
  width: 62px;
  height: 15px;
  background: url(https://images.joins.com/newsroom/common/logo_svg_new.svg) no-repeat;
  background-size: contain;
  text-indent: -9999px;
}

.forehead .sns-share-box a.sns-fb {
  background: url(https://images.joins.com/newsroom/common/j_special_icon.png) no-repeat;
}

.forehead .sns-share-box a.sns-tw {
  background: url(https://images.joins.com/newsroom/common/j_special_icon.png) no-repeat -25px 0;
}

.forehead .sns-share-box a.kakao {
  background: url(https://images.joins.com/newsroom/common/j_special_icon.png) no-repeat -51px 0;
}

.forehead .sns-share-box a.sns-fb:hover {
  background-position: 0 0px;
}

.forehead .sns-share-box a.sns-tw:hover {
  background-position: -25px 0px;
}

.copyright_box {
  position: relative;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  padding: 0;
  background: #222222;
}

.copyright_box .copyright {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 16px 0 10px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  color: #fff;
  background: #222222;
}

.copyright_box .copyright .copyright_credit {
  position: relative;
  width: 795px;
  margin: 0 auto;
  bottom: 0px;
  color: #808080;
  font-size: 12px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0;
}

.copyright_box .copyright .copyright_credit span {
  color: #dddddd;
  font-weight: 300;
}

.copyright_box .copyright .copy_left {
  width: 25%;
  text-align: left;
  float: left;
  height: 46px;
  background: url("../img/j_logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 83px 23px;
}

.copyright_box .copyright .copy_right {
  width: 75%;
  text-align: left;
  float: right;
  padding-top: 12px;
}

.copyright_box .copyright .copy_right p.p-text {
  font-weight: 400;
  letter-spacing: 0px;
  font-size: 11px;
  line-height: 5px;
}

@-webkit-keyframes test {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes test {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media all and (min-width: 1921px) {
  .gv-1001__bg {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  .outro__bg {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

body.ie11 .meterial {
  background: #000;
}

body.ie11 .outro {
  background: #000;
}
/*# sourceMappingURL=style.css.map */